<div class="org depth-{{depth}}" data-role="org" data-id="{{id}}" data-action="toggle-org" data-unitid="{{unit_id}}">
  <div class="arrow"></div>
  <div title="{{name}}" class="org-name" title="{{name}}">{{name}}</div>
  <div class="sub-orgs" data-role="sub-orgs">
      {{#if isunread}}
        {{{subUnreadHTML}}}
        {{else}}
        {{{subReadHTML}}}
        {{/if}}
  </div>
  <div class="sub-users" data-role="sub-users"></div>
</div>

