<div class="level level-{{level}} {{levelCls}}" data-role="toggle-node" data-id="{{id}}" data-open="{{open}}"
          data-parent="{{isParent}}" data-name="{{name}}">
    <div class="level-node" data-role="level-node">
{{#ifEqs switchTheme "hollow"}}

    <div class="{{#if isParent}}{{#if open}}{{switchExpandTheme}}{{else}}{{switchCollapseTheme}}{{/if}}{{/if}}"  data-role="switch-node">

        <div class="hollow icon-arrow-in"></div>
        <div class="hollow icon-arrow-out"></div>

    </div>

{{else}}
    <div class=" {{#ifEqs switchTheme  "arrow"}}arrow{{/ifEqs}} {{#ifEqs switchTheme  "switch"}}switch{{/ifEqs}} {{#if isParent}}{{#if open}}{{switchExpandTheme}}{{else}}{{switchCollapseTheme}}{{/if}}{{/if}}"
         data-role="switch-node"></div>
{{/ifEqs}}

      {{#if check}}
          <diV class="icon-margin check {{#if checked}}{{checkedTheme}}{{else}}{{unCheckedTheme}}{{/if}} " data-role="check-node"
               data-chkKey="{{checked}}"></div>
      {{/if}}
        <div class="icon-margin node-block" data-role="block-node">
          {{#if isParent}}
            {{#if showParentIcon}}
                <div class="node-icon {{#if open}}{{parentExpandTheme}}{{else}}{{parentCollapseTheme}}{{/if}} "
                     data-role="Icon-node"></div>
            {{/if}}
          {{/if}}
            <div class="node-text {{#if isParent}}{{parentTextCls}}{{/if}}">
              {{{textNode}}}
            </div>
        </div>

    </div>
    <div class="sub-levels {{#if open}}show{{else}}hide{{/if}}" data-role="sub-levels">
      {{{html}}}
    </div>
    <div class="sub-others {{#if open}}show{{else}}hide{{/if}}" data-role="sub-others"></div>
</div>



